[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "kknn"]
	path = kknn
	url = https://github.com/klausvigo/kknn
[submodule "phangorn"]
	path = phangorn
	url = https://github.com/klausvigo/phangorn
[submodule "tanggle"]
	path = tanggle
	url = https://github.com/klausvigo/tanggle
[submodule "ape"]
	path = ape
	url = https://github.com/KlausVigo/ape
	registered = false
